<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Files</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let file of fileList">
      <ion-label>{{ file }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="confirmDelete(file)">
          <ion-icon name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="fileList.length === 0">
      <ion-label>No files found</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
